Demo/tutorial.cs
Demo/tutorial.csproj
Demo/tutorial.deps.json
Demo/tutorial.dll
Demo/tutorial.pdb
Demo/obj/project.assets.json
Demo/obj/project.nuget.cache
Demo/obj/tutorial.csproj.nuget.dgspec.json
Demo/obj/tutorial.csproj.nuget.g.props
Demo/obj/tutorial.csproj.nuget.g.targets
Demo/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Demo/obj/Debug/net8.0/tutorial.AssemblyInfo.cs
Demo/obj/Debug/net8.0/tutorial.AssemblyInfoInputs.cache
Demo/obj/Debug/net8.0/tutorial.assets.cache
Demo/obj/Debug/net8.0/tutorial.csproj.CoreCompileInputs.cache
Demo/obj/Debug/net8.0/tutorial.csproj.FileListAbsolute.txt
Demo/obj/Debug/net8.0/tutorial.dll
Demo/obj/Debug/net8.0/tutorial.GeneratedMSBuildEditorConfig.editorconfig
Demo/obj/Debug/net8.0/tutorial.GlobalUsings.g.cs
Demo/obj/Debug/net8.0/tutorial.pdb
Demo/obj/Debug/net8.0/ref/tutorial.dll
Demo/obj/Debug/net8.0/refint/tutorial.dll
WorkSimulation/bignums - Copy.dfy
WorkSimulation/bignums.cs
WorkSimulation/bignums.csproj
WorkSimulation/bignums.deps.json
WorkSimulation/bignums.dll
WorkSimulation/bignums.exe
WorkSimulation/bignums.pdb
WorkSimulation/bignums.runtimeconfig.json
WorkSimulation/obj/bignums.csproj.nuget.dgspec.json
WorkSimulation/obj/bignums.csproj.nuget.g.props
WorkSimulation/obj/bignums.csproj.nuget.g.targets
WorkSimulation/obj/project.assets.json
WorkSimulation/obj/project.nuget.cache
WorkSimulation/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WorkSimulation/obj/Debug/net8.0/apphost.exe
WorkSimulation/obj/Debug/net8.0/bignums.AssemblyInfo.cs
WorkSimulation/obj/Debug/net8.0/bignums.AssemblyInfoInputs.cache
WorkSimulation/obj/Debug/net8.0/bignums.assets.cache
WorkSimulation/obj/Debug/net8.0/bignums.csproj.CoreCompileInputs.cache
WorkSimulation/obj/Debug/net8.0/bignums.csproj.FileListAbsolute.txt
WorkSimulation/obj/Debug/net8.0/bignums.dll
WorkSimulation/obj/Debug/net8.0/bignums.GeneratedMSBuildEditorConfig.editorconfig
WorkSimulation/obj/Debug/net8.0/bignums.genruntimeconfig.cache
WorkSimulation/obj/Debug/net8.0/bignums.GlobalUsings.g.cs
WorkSimulation/obj/Debug/net8.0/bignums.pdb
WorkSimulation/obj/Debug/net8.0/ref/bignums.dll
WorkSimulation/obj/Debug/net8.0/refint/bignums.dll
WorkSimulation/fibonacci.cs
WorkSimulation/fibonacci.csproj
WorkSimulation/fibonacci.deps.json
WorkSimulation/fibonacci.dll
WorkSimulation/fibonacci.pdb
WorkSimulation/obj/fibonacci.csproj.nuget.dgspec.json
WorkSimulation/obj/fibonacci.csproj.nuget.g.props
WorkSimulation/obj/fibonacci.csproj.nuget.g.targets
WorkSimulation/obj/Debug/net8.0/bignums.sourcelink.json
WorkSimulation/obj/Debug/net8.0/fibonacci.AssemblyInfo.cs
WorkSimulation/obj/Debug/net8.0/fibonacci.AssemblyInfoInputs.cache
WorkSimulation/obj/Debug/net8.0/fibonacci.assets.cache
WorkSimulation/obj/Debug/net8.0/fibonacci.csproj.CoreCompileInputs.cache
WorkSimulation/obj/Debug/net8.0/fibonacci.csproj.FileListAbsolute.txt
WorkSimulation/obj/Debug/net8.0/fibonacci.dll
WorkSimulation/obj/Debug/net8.0/fibonacci.GeneratedMSBuildEditorConfig.editorconfig
WorkSimulation/obj/Debug/net8.0/fibonacci.GlobalUsings.g.cs
WorkSimulation/obj/Debug/net8.0/fibonacci.pdb
WorkSimulation/obj/Debug/net8.0/fibonacci.sourcelink.json
WorkSimulation/obj/Debug/net8.0/ref/fibonacci.dll
WorkSimulation/obj/Debug/net8.0/refint/fibonacci.dll
WorkSimulation/temp/errata.txt
WorkSimulation/temp/temp.dfy
